body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-none {
  background: none;
}

.logo-header {
  width: 40%;
  display: block;
  margin: 0 auto; /* This centers the image horizontally */
}

.form-group-sign {
  height: 8vh;
  font-size: larger;
}

.sign-in-btn {
  height: 8vh;
  width: 100%;
  font-size: larger;
  text-align: left;
}

/* .popup-class .swal-popup {
  background-color: white !important;
} */
